# Virtual environment
venv/

# Evironment variables
.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.swp
env/
*.sqlite3

# Alembic
alembic/versions/*.py

# Node / React
node_modules/
build/
dist/

# VSCode
.vscode/

# OS
.DS_Store